on early-init
    start ueventd

on init
    export PATH /sbin
    export LD_LIBRARY_PATH .:/sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /cache
    mkdir /efs
    mkdir /modem
    mkdir /mnt
    mkdir /mnt/.lfs
    mkdir /preload
    mkdir /sdcard
    mkdir /external_sd
    mount /tmp /tmp tmpfs

    write /sys/devices/platform/mcde_fb/graphics/fb0/bits_per_pixel 16

    # USB initialization
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 04E8
    write /sys/class/android_usb/android0/idProduct 6860
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/iSerial $ro.serialno
    write /sys/class/android_usb/android0/iManufacturer $ro.product.manufacturer
    write /sys/class/android_usb/android0/iProduct $ro.product.model
    write /sys/devices/platform/ab8505-i2c.0/ab8500-usb.0/boot_time_device 1
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
    setprop service.adb.root 1

on early-fs
    insmod /lib/modules/j4fs.ko
    mount j4fs /dev/block/mmcblk0p19 /mnt/.lfs wait rw
    insmod /lib/modules/param.ko

on boot
    ifup lo
    hostname localhost
    domainname localdomain
    class_start default

service ueventd /sbin/ueventd
    critical

service recovery /sbin/recovery

service adbd /sbin/adbd recovery

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd
