/dev/cm_channel 0660 media system
/dev/cm_control 0660 media system
/dev/cm_sia_trace 0444 media system
/dev/cm_sva_trace 0444 media system
/dev/stm 0660 media system
/dev/modemaudio 0660 audio audio
/dev/mmio_camera 0660 media system
/dev/camera_flash 0660 media system
/dev/i2c-2 0660 media system
/dev/alps_io 0660 root system
/dev/ape_opp 0660 media system
/dev/ddr_opp 0660 media system
/dev/hwmem 0666 media system
/dev/mali 0666 system graphics
/dev/b2r2_blt 0666 system graphics
/dev/disp0 0666 system graphics
/dev/comp0 0666 system graphics
/dev/comp1 0666 system graphics
/dev/clone0 0666 system graphics
/dev/ttyGS0 0060 root radio
/dev/dun 0660 system system
/dev/rpc 0600 radio radio
/dev/tee 0666 root system
/dev/socket/dbus 0660 bluetooth bluetooth
/dev/socket/dbus_ste 0660 bluetooth dbus_access
/dev/socket/cops.socket 0777 nobody nobody
/dev/socket/cspsa_socket_CSPSA0 0666 root root
/dev/db8500-modem-trace 0600 root root
/dev/dbx500_mloader_fw 0600 root root
/dev/block/mmcblk0p19 0660 system system
